<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
  <head>
    {% block head %}

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% if self.content_meta() %}
      {% block content_meta %}{% endblock content_meta %}
    {% endif %}

    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" />

    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}

    {% if CATEGORY_FEED_ATOM and category %}
    <link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_ATOM_URL %}{{ CATEGORY_FEED_ATOM_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_ATOM.format(slug=category.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }}: Category `{{ category.slug }}` Atom Feed" />
    {% endif %}

    {% if TAG_FEED_ATOM and tag %}
    <link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_ATOM_URL %}{{ TAG_FEED_ATOM_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_ATOM.format(slug=tag.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }}: Tag `{{ tag.slug }}` Atom Feed" />
    {% endif %}

    {% endblock head %}
  </head>

  <body id="index" class="home">
    <header id="banner" class="body">

      {% block content_title %}
      <h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
      {% endblock content_title %}

      {% if self.content_subtitle() %}
        {% block content_subtitle %}{% endblock content_subtitle %}
      {% endif %}

      {% block navigation %}
      <nav id="menu">
        {% for title, link in MENUITEMS %}
          <li><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
      </nav>
      {% endblock navigation %}
    </header>

    {% block content %}
    {% endblock content %}

    {% block footer %}
    <footer>
      <hr />
      <a href="{{ SITEURL}}/">Back to blog</a>
    </footer>
    {% endblock footer %}

  </body>
</html>
