{% extends "base.html" %}

{% block title %}Categories{% endblock %}

{% block content %}
<!-- categories -->
  <!-- TODO sort the categories by the NEWEST article within each. In this way,
  if we post a new article into a category it buoys it up to the top. -->
  {% for category, articles in categories %}
    <h3><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a></h3>
    <ul>
      {% for article in articles|sort(attribute="date") %}
        <li>
          {{ article.date.date().isoformat() }} <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
<!-- /categories -->
{% endblock content %}
