body {
  margin: 40px auto;
  max-width: 1200px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding:0 10px;
}

/*
a:link    { color: blue; text-decoration: none;      }
a:hover   { color: blue; text-decoration: underline; }
a:visited { color: blue;                             }
*/

h1 a { color: inherit !important }
h2 a { color: inherit !important }
h3 a { color: inherit !important }
h4 a { color: inherit !important }
h5 a { color: inherit !important }
h6 a { color: inherit !important }

pre {
    height: auto;
    max-height: 60vh;
    overflow: auto;
    background-color: #eeeeee;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
}

#menu li {
    display: inline;
}

.toctitle {
    font-weight: bold;
}

.toc {
    background: none repeat scroll 0 0;
    border: thin solid gray;
    display: table;
    font-size: 95%;
    padding: 1%;
    width: auto;
}

/*
.toc li, .toc ul, .toc ul li{
    list-style: outside none none !important;
}
*/

#post-list {
    margin-bottom: 1em;
    margin-top: 1em;
}

pre {
    margin: 2em 1em 2em 4em;
    white-space: pre-wrap;
}


